.main_container {
  display: grid;
  grid-template-columns: auto;
  gap: 50px;
  padding: 50px;
}
.flexRow {
  display: grid;
}
.main_flexcol {
  height: 800px;
}
.img_size {
  height: 150px;
  width: 150px;
}
.img_size2 {
  height: 150px;
  width: 300px;
}
.name {
  font-size: 10px;
}
.sample1 {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  border: solid 2px springgreen;
  justify-content: end;
  align-content: end;
  margin-bottom: 30px;
  height: 200px;
}
.sample2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  border: solid 2px springgreen;
  margin-bottom: 30px;
  height: 200px;
}
.img_size3 {
  height: 300px;
  width: 400px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}
.sample3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  border: solid 2px springgreen;
  height: 600px;
}
.img_size4 {
  width: 150px;
  height: 300px;
}

.sample1_col {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-between;
  border: solid 2px springgreen;
  align-items: start;
  height: 1000px;
}
.sample2_col {
  display: grid;
  grid-template-rows: 1fr 2fr 3fr 1fr;
  align-items: end;
  justify-items: end;
  border: solid 2px springgreen;
  height: auto;
}

.sample3_col {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  border: solid 2px springgreen;
  justify-content: center;
  align-items: center;
  height: auto;
}
